.p-progressbar{
    height: 20px;
    margin-bottom: 20px;
    font-size: 0.8rem;
  }
  .p-progressbar-value{
    border-radius: 5px;
    background: #41BD55;
  }
  .correct-answer {
    background-color: #d4edda;
    border-left: 8px solid #28a745;
  }
  
  .correct-answer-unselected {
    background-color: #e6ffe6;
    border-left: 8px solid #218838;
  }
  
  .wrong-answer {
    background-color: #f8d7da;
    border-left: 8px solid #dc3545;
  }
  