.navigation-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    padding: 0px 80px;
    background: #fff;
    font-size: 22px;
}
.middle-side >ul{
    display: flex;
    flex-direction: row;
    column-gap: 80px;
    list-style-type: none;
}
.middle-side >ul>li>a{
    text-decoration: none;
    color: #5B5B5B;
}
.middle-side >ul>li>a:hover{
    transition: background-color 0.05s ease-in-out 0.05s; 
    text-decoration: none;
    color: #000;
}
.right-side,.usrProfileSide{
    color: #5B5B5B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 18px;
}
.right-side >span{
    color: #000;
}
.right-side >span>i{
    margin-left: 10px;
}
.profile-right-side{
    width: 220px;
    position: absolute;
}
.profile-right-side>ul{
    /* background-color: #fff; */
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.profile-right-side>ul>li>a{
    text-decoration: none;
    font-size: 18px;
    color: #000;
}
.profile-right-side>ul>li>a:hover{
    text-decoration: none;
    color: #5B5B5B;
}
/* button{
    width: 130px;
    height: 50px;
    border-radius: 12px;
    font-weight: bold;
    transition: background-color 0.05s ease-in-out 0.05s; 
} */
.authenicate-btn{   
    flex-direction: row;
    column-gap: 20px;
    border: none;
}
.login-btn{
    border: 1px solid #1D0087;
    background: #FFF;
    color: #1D0087;
}
.login-btn:hover{
    background: #1D0087;
    color: #FFF;
}
.signup-btn{
    background: #1D0087;
    border: none;
    color: #fff;
}